<ion-header no-header>
  <ion-toolbar>
      <ion-button fill="outline" slot="start" href="#">Back</ion-button>
    <ion-title>Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Hospital</ion-card-subtitle>
    <ion-card-title>HOSPITAL PVT. LTD.</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Kathmandu
  </ion-card-content>
</ion-card>
<ion-card>
    <ion-item href="appointment" class="activated">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <ion-label>Book Appointment</ion-label>
      </ion-item>
    </ion-card>

<ion-card>
  <ion-card-content>
      We believe every human being is an author of his/her own health and in this journey of life we would like to be your trusted companion. For us Patient Care supersedes all other aspects. We emphasize on quality care – round the clock! Where, in symbol of Vayodha, ‘V’ symbolizes caring hands and the Green droplet symbolizes Life.

      Our dedicated and highly trained team of Professionals ensures that the hospital vision and reputation is maintained at the highest level and acts as a Centre of excellence. Vayodha assures to be the most comprehensive facility offering a wide-spectrum of vital health services to every individual irrespective of their age and gender. This hospital is designed to have patient-friendly environment.
  </ion-card-content>
  
</ion-card>

</ion-content>
