<ion-header>
  <ion-toolbar>
      <ion-button fill="outline" slot="start" href="hospital-info">Back</ion-button>
    <ion-title>Appointment</ion-title>
    <ion-button fill="outline" slot="end" href="#">Done</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-radio-group>
          <ion-list-header>
            
            <ion-label>Select The appointment</ion-label>
          </ion-list-header>
      
          <ion-item>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>08:30 - 10:30</ion-card-subtitle>
                    <ion-card-title>Dr.Vijay Shrestha</ion-card-title>
                  </ion-card-header>
            <ion-radio slot="end" value="biff" checked></ion-radio>
          </ion-card>
          </ion-item>
          <ion-item>
              <ion-card>
                  <ion-card-header>
                      <ion-card-subtitle>10:30 - 12:30</ion-card-subtitle>
                      <ion-card-title>Dr.Suman Sharma</ion-card-title>
                    </ion-card-header>
              <ion-radio slot="end" value="ciff" ></ion-radio>
            </ion-card>
            </ion-item>
            <ion-item>
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>12:30 - 2:30</ion-card-subtitle>
                        <ion-card-title>Dr.Prakriti Karki</ion-card-title>
                      </ion-card-header>
                <ion-radio slot="end" value="diff" checked></ion-radio>
              </ion-card>
              </ion-item>
              <ion-item>
                  <ion-card>
                      <ion-card-header>
                          <ion-card-subtitle>02:30 - 4:30</ion-card-subtitle>
                          <ion-card-title>Dr.Tika Ram Gurung</ion-card-title>
                        </ion-card-header>
                  <ion-radio slot="end" value="eiff" ></ion-radio>
                </ion-card>
                </ion-item>
                <ion-item>
                    <ion-card>
                        <ion-card-header>
                            <ion-card-subtitle>04:30 - 7:30</ion-card-subtitle>
                            <ion-card-title>Dr.Nabaraj Karki</ion-card-title>
                          </ion-card-header>
                    <ion-radio slot="end" value="fiff" ></ion-radio>
                  </ion-card>
                  </ion-item>
                  <ion-item>
                      <ion-card>
                          <ion-card-header>
                              <ion-card-subtitle>07:30 - 9:30</ion-card-subtitle>
                              <ion-card-title>Dr.Mohan Karki</ion-card-title>
                            </ion-card-header>
                      <ion-radio slot="end" value="giff" ></ion-radio>
                    </ion-card>
                    </ion-item>
        </ion-radio-group>
      </ion-list>
      

</ion-content>
